/* GOOGLE FONTS ENLACE */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu Mono';
}

.contenedor-cabecera-menu {
    background-color: #c1c1c1;
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 6rem;
    position:fixed;
    top:0px;
    width:100%;
}

/* CABECERA */
.seccion-cabecera {
    font-size:1.9rem;
}

.enlace-logo {
    color: #6a6a6a;
    text-decoration:none;
    letter-spacing: 0.5rem;
    margin:0rem 0rem 0rem 1rem;
}

.enlace-logo:hover {
    color: #2d2d2d;
    text-shadow:0px 0px 5px #2d2d2d;
    transition-duration:0.5s;
}

/* NAVEGACION */
.seccion-menu {
    margin:0rem 0.5rem;
}

.elementos-menu {
    display:flex;
    list-style:none;
}

.elementos-menu li {
    padding:0rem 1rem;
}

.elementos-menu li a {
    text-decoration:none;
    color: #6a6a6a;
}

.elementos-menu li a:hover {
    color:#2d2d2d;
    text-shadow:0px 0px 3px #2d2d2d;
    transition-duration:0.5s;
}

/* SECCION INFORMACION */
.seccion-informacion {
    margin:10rem 2rem 2rem 2rem;
    background-color:blue;
}

.elementos-informacion {
 padding: 1rem;
}

.contenedor-enlace-informacion {
    display:flex;
    justify-content:center;
}

.contenedor-enlace-informacion a {
    color:#e8e8e8;
    text-decoration:none;
    font-size:1.2rem;
    background-color: #2d2d2d;
    padding:10px 15px;
    text-align:center;
    border-radius:5px;
}

.elementos-informacion a:hover {
    box-shadow:0px 0.5px 20px black;
    transition-duration:0.5s;
}

.elementos-informacion H1, p {
    text-align:center;
}

.elementos-informacion H1 {
    font-size:2.5rem;
    color: #6a6a6a;
    margin:0rem;
}

.elementos-informacion p {
    color: #b8b8b8;
    font-size:1.2rem;
}

/* SECCION SERVICIOS */
.seccion-servicios {
    background-color:red;
    margin:2rem;
}

.contenedor-servicios-grid {
    margin:2rem;
    background-color:green;
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

.contenedor-servicios-grid div {
    background-color:blue;
    margin:1rem;
    padding:6rem 0rem;
    text-align:center;
}

/* SECCION PIE DE PAGINA */
hr {
    width:98%;
}

.seccion-pie-pagina {
    background-color:red;
    display:flex;
}

.ladoA-pie-pagina {
    background-color: green;
    margin:1rem;
}

.ladoB-pie-pagina {
    background-color: blue;
    margin:1rem;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    width:100%;
}

.ladoB-pie-pagina div {
    margin:0.5rem ;
    background-color:green;
    text-align:center;
}